.custom-checkbox {
  width: 95vw;
  height: 20vw;
  max-height: 100px;
  font-size: min(5vw, 32px);
  -webkit-tap-highlight-color: transparent;
}
.custom-checkbox input#status {
  display: none;
}
.custom-checkbox input#status + label {
  width: 95vw;
  height: 20vw;
  max-height: 100px;
}
.custom-checkbox input#status + label > .status-switch {
  cursor: pointer;
  width: 95vw;
  height: 20vw;
  max-width: 750px;
  max-height: 100px;
  position: relative;
  background: #E0E0E0;
  color: white;
  transition: all 0.3s ease;
  padding: 2px;
  border-radius: 16vw;
}
.custom-checkbox input#status + label > .status-switch:before, .custom-checkbox input#status + label > .status-switch:after {
  border-radius: 16vw;
  height: calc(100% - 4px);
  width: calc(50% - 2px);
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  transition: all 0.1s ease;
}
.custom-checkbox input#status + label > .status-switch:before {
  background-color: white;
  color: black;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  left: 2px;
  z-index: 10;
  content: attr(data-unchecked);
}
.custom-checkbox input#status + label > .status-switch:after {
  right: 0;
  content: attr(data-checked);
}
.custom-checkbox input#status:checked + label > .status-switch {
  background: #E0E0E0;
}
.custom-checkbox input#status:checked + label > .status-switch:after {
  left: 0;
  content: attr(data-unchecked);
}
.custom-checkbox input#status:checked + label > .status-switch:before {
  background: #FFCC00;
  left: 50%;
  content: attr(data-checked);
}
