<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["timeline"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Abbr' });
        dataTable.addColumn({ type: 'string', id: 'Name' });
        dataTable.addColumn({ type: 'date', id: 'Abstract' });
        dataTable.addColumn({ type: 'date', id: 'Notification' });
        dataTable.addRows([
          [ 'PaPoC', 'PaPoC', new Date(2015, 1, 17), new Date(2015, 2, 6) ],
          [ 'Mobicom', 'Mobicom',  new Date(2015, 2, 4),  new Date(2015, 5, 5) ],
          [ 'Systor', 'Systor',      new Date(2015, 2, 5),  new Date(2015, 3, 5) ],
          [ 'MSST', 'MSST',      new Date(2015, 2, 6),  new Date(2015, 3, 3) ],
          [ 'HotCloud', 'HotCloud',  new Date(2015, 2, 10),  new Date(2015, 3, 28) ],
          [ 'HotStorage', 'HotStorage',  new Date(2015, 2, 17),  new Date(2015, 3, 21) ],
          [ 'SOSP', 'SOSP',  new Date(2015, 2, 19),  new Date(2015, 5, 29) ],
          [ 'SRDS', 'SRDS',  new Date(2015, 2, 30),  new Date(2015, 5, 22) ],
          [ 'SOCC', 'SOCC',  new Date(2015, 3, 24),  new Date(2015, 5, 19) ],
          [ 'DISC', 'DISC',  new Date(2015, 4, 10),  new Date(2015, 6, 23) ]]);

        chart.draw(dataTable);
      }
    </script>
</head>
